*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    width: 100vw;
    background-color: black;
}

.page-content {
    width: 75vw;
    margin: 0 auto;
}

/* Section 1 */

.first-section {
    background-color: #1F2937;
    height: 500px;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

ul {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Nav */
li {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}
